.service-area {
    background-color: #111215;
}

.sec-pad {
    background-image: url('../img/cta-bg2.png');
    padding: 120px 0;
}

.title span {
    color: #2b4dff;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
    position: relative;
    text-transform: uppercase;
}

.title span::before {
    background-color: #2b4dff;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
}

.service-area .title h2 {
    margin-bottom: 45px;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px),
only screen and (min-width: 992px) and (max-width: 1199px) {
    .title h2 {
        font-size: 48px;
    }
}

.title h2 {
    color: #fff;
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 30px;
    text-transform: capitalize;
}

.cmn-btn {
    display: inline-flex;
}

.cmn-btn a,
.cmn-btn a::before {
    transition: all .5s ease-out 0s;
}

.cmn-btn a {
    background: linear-gradient(90deg, #2b4dff 1.05%, #071a7b);
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    overflow: hidden;
    padding: 10px 30px;
    position: relative;
    text-transform: capitalize;
    z-index: 1;
}

.cmn-btn a::before {
    background-color: #000;
    content: "";
    height: 0;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 100%;
    z-index: -1;
}

.cmn-btn a,
.cmn-btn a::before {
    transition: all .5s ease-out 0s;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .single-service {
        padding: 20px;
    }
}

.single-service {
    border: 1px solid #232323;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    padding: 20px;
    position: relative;
    transition: all .5s ease-out 0s;
    width: 100%;
}

.single-service span {
    -webkit-text-stroke: 2px hsla(0, 0%, 100%, .07);
    -webkit-text-fill-color: transparent;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1;
    position: absolute;
    right: 10px;
    top: 10px;
    transition: all .5s ease-out 0s;
}

.service-icon {
    margin-top: 15px;
    min-width: 70px;
}

.service-icon i {
    background-color: #2b4dff;
    border-radius: 50%;
    display: inline-block;
    height: 65px;
    line-height: 65px;
    position: relative;
    text-align: center;
    width: 65px;
    z-index: 1;
}


.service-icon i::before {
    border: 1px solid rgba(217, 10, 44, .15);
    border-radius: 50%;
    content: "";
    height: 100%;
    left: -5px;
    position: absolute;
    top: -10px;
    width: 100%;
    z-index: -1;
}

.service-icon i img {
    max-height: 38px;
    max-width: 38px;
}

.service-icon i::after {
    border: 1px solid rgba(217, 10, 44, .15);
    border-radius: 50%;
    content: "";
    height: 100%;
    position: absolute;
    right: -5px;
    top: -10px;
    width: 100%;
    z-index: -1;
}

.service-icon i::before {
    border: 1px solid rgba(217, 10, 44, .15);
    border-radius: 50%;
    content: "";
    height: 100%;
    left: -5px;
    position: absolute;
    top: -10px;
    width: 100%;
    z-index: -1;
}

.service-content {
    margin-left: 15px;
}

.service-content h4 {
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.service-content p {
    color: #e4e4e4;
    font-size: 16px;
    margin-bottom: 20px;
}

.service-content a {
    color: #2b4dff;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    text-transform: capitalize;
    z-index: 1;
}

.service-content a i {
    margin-left: -4px;
    position: relative;
    transition: all .5s ease-out 0s;
    z-index: -1;
}

.single-service::after {
    background: linear-gradient(152.97deg, hsla(0, 0%, 100%, .2), hsla(0, 0%, 100%, 0));
    border-radius: 10px;
    height: 100%;
    left: 0;
    opacity: 0;
    top: 0;
    visibility: hidden;
    width: 100%;
}

.single-service::after,
.single-service::before {
    content: "";
    position: absolute;
    transition: all .5s ease-out 0s;
}

.single-service::before {
    background: radial-gradient(105.91% 105.91% at 37.1% 19.35%, rgba(217, 10, 44, .3) 0, rgba(217, 10, 44, 0) 83.11%);
    border-radius: 50%;
    bottom: 0;
    display: none;
    height: 90px;
    opacity: .3;
    right: 0;
    width: 90px;
}

.single-service:hover::before {
    display: block;
}

.single-service:hover span {
    -webkit-text-stroke: 2px #2b4dff;
    -webkit-text-fill-color: transparent;
}




.sec-mar-top {
margin-top: 120px;
}
.how-we-work .title.black {
margin-bottom: -80px;
}
.title span::before {
background-color: #2b4dff;
bottom: 0;
content: "";
height: 1px;
left: 0;
position: absolute;
width: 100%;
}
.title.black h2 {
color: #17161a;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px) {
.title h2 {
font-size: 48px;
}
}
.swiper.work-process {
padding-top: 150px;
}
.swiper {
list-style: none;
margin-left: auto;
margin-right: auto;
overflow: hidden;
padding: 0;
padding-top: 0px;
position: relative;
z-index: 1;
}
.swiper-pointer-events {
touch-action: pan-y;
}
.swiper-android .swiper-slide, .swiper-wrapper {
-webkit-transform: translateZ(0);
transform: translateZ(0);
}
.swiper-wrapper {
box-sizing: initial;
display: flex;
height: 100%;
position: relative;
transition-property: -webkit-transform;
transition-property: transform;
transition-property: transform,-webkit-transform;
width: 100%;
z-index: 1;
}
.swiper {
list-style: none;
margin-left: auto;
margin-right: auto;
overflow: hidden;
padding: 0;
position: relative;
z-index: 1;
}
.swiper-wrapper {
box-sizing: initial;
display: flex;
height: 100%;
position: relative;
transition-property: -webkit-transform;
transition-property: transform;
transition-property: transform,-webkit-transform;
width: 100%;
z-index: 1;
}
.swiper-slide {
flex-shrink: 0;
height: 100%;
position: relative;
transition-property: -webkit-transform;
transition-property: transform;
transition-property: transform,-webkit-transform;
width: 100%;
}
.work-process-wrapper {
position: relative;
}
.work-process-wrapper img {
width: 100%;
}
.work-process-wrapper .work-process-inner {
background: #17161a;
left: 0;
min-width: 350px;
padding: 40px 60px;
position: absolute;
text-align: center;
top: 0;
}
.work-process-wrapper .work-process-inner b {
color: #fff;
font-size: 65px;
font-weight: 700;
left: 5px;
letter-spacing: .03em;
line-height: 1;
opacity: .1;
position: absolute;
text-transform: capitalize;
top: 50%;
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
}   
.work-process-wrapper .work-process-inner h4 {
color: #fff;
font-size: 20px;
font-weight: 600;
letter-spacing: .03em;
margin: 0;
text-transform: capitalize;
}
.swiper.work-process .swiper-button-next, .swiper.work-process .swiper-button-prev {
background: #2a2a2a;
border-radius: 50%;
color: #fff !important;
height: 40px !important;
right: 0 !important;
top: 22px;
transition: all .5s ease-out 0s;
width: 40px !important;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
left: auto;
right: 10px;
}
.swiper-button-next, .swiper-button-prev {
align-items: center;
color: #007aff;
color: var(--swiper-navigation-color,var(--swiper-theme-color));
cursor: pointer;
display: flex;
height: 44px;
height: var(--swiper-navigation-size);
justify-content: center;
margin-top: -22px;
margin-top: calc(0px - var(--swiper-navigation-size)/2);
position: absolute;
top: 50%;
width: 27px;
width: calc(var(--swiper-navigation-size)/44*27);
z-index: 10;
}
.swiper.work-process .swiper-button-next::after, .swiper.work-process .swiper-button-prev::after {
font-size: 14px !important;
}
.swiper-button-next::after, .swiper-rtl .swiper-button-prev::after {
content: "next";
}
.swiper-button-next::after, .swiper-button-prev::after {
font-family: swiper-icons;
font-size: 44px;
font-size: var(--swiper-navigation-size);
font-variant: normal;
letter-spacing: 0;
line-height: 1;
text-transform: none !important;
text-transform: none;
}
.swiper.work-process .swiper-button-prev, .swiper.work-process .swiper-rtl .swiper-button-next {
left: auto;
right: 5% !important;
}
.swiper.work-process .swiper-button-next, .swiper.work-process .swiper-button-prev {
background: #2a2a2a;
border-radius: 50%;
color: #fff !important;
height: 40px !important;
right: 0 !important;
top: 22px;
transition: all .5s ease-out 0s;
width: 40px !important;
}
.swiper.work-process .swiper-button-next::after, .swiper.work-process .swiper-button-prev::after {
font-size: 14px !important;
}
.swiper-button-prev::after, .swiper-rtl .swiper-button-next::after {
content: "prev";
}
.swiper-button-next::after, .swiper-button-prev::after {
font-family: swiper-icons;
font-size: 44px;
font-size: var(--swiper-navigation-size);
font-variant: normal;
letter-spacing: 0;
line-height: 1;
text-transform: none !important;
text-transform: none;
}


.single-service-work-process h3 {
    color: #17161a;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.single-service-work-process .single-step {
    margin-bottom: 40px;
}
@media (min-width: 1200px) {
    .col-xl-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
}
.single-service-work-process .single-step .step {
    background: #fff;
    border: 1px solid rgba(26, 10, 217, 0.2);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 30px;
    position: relative;
}
.single-service-work-process .single-step .step .step-count {
    position: absolute;
    right: 28px;
    top: 24px;
}
.single-service-work-process .single-step .step .step-count span {
    -webkit-text-stroke: 1px #17161a;
    -webkit-text-fill-color: transparent;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: .02em;
    line-height: 1;
    opacity: .3;
    text-align: center;
    text-transform: capitalize;
}
.single-service-work-process .single-step .step .step-count {
    position: absolute;
    right: 28px;
    top: 24px;
}
.single-service-work-process h4 {
    color: #17161a;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 10px;
}
.single-service-work-process .single-step .step p {
    color: #272727;
    font-size: 16px;
    line-height: 28px;
    margin: 0;
}
.single-service-work-process .single-step .step-img img {
    border-radius: 5px;
    width: 100%;
}

.single-service-work-process .single-step {
    margin-bottom: 40px;
}



.optech-section-padding5 {
    padding: 130px 0 90px;
  }
  .optech-section-title.center {
    text-align: center;
    max-width: 640px;
    margin: 0 auto;
  }
  .optech-section-title {
    padding-bottom: 50px;
  }
  .optech-numberbox-wrap {
    text-align: center;
    margin-bottom: 40px;
  }
  .optech-numberbox-icon {
    margin-bottom: 40px;
  }
  .optech-numberbox-data span {
    width: 40px;
    height: 40px;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    border-radius: 100px;
    align-items: center;
    margin: 0 auto 28px;
    justify-content: center;
    color: #fff;
    background-color: #2b4dff;
  }
  .optech-numberbox-data h4 {
    margin-bottom: 10px;
  }
  .optech-numberbox-wrap {
    text-align: center;
    margin-bottom: 40px;
  }
  .optech-numberbox-icon {
    margin-bottom: 40px;
  }